.footer {
    background-color: var(--dark-violet);
    padding: 10rem 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 
    position: fixed;
    bottom: 0;
    width: 100%; */
}

.footer__p--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__p {
    font-weight: bold;
}